*{margin:0px;padding:0px;}


.backimage{

height:70vh;
background-size:100% 100%;
background-image:linear-gradient( to top ,rgba(223,134,17,0.7),rgba(20,11,0,1)),url('images/banner1.jpg');
background-color:#b5b71c;
}


.package{
box-shadow:-2px -2px 20px black;
}




ul li{list-style:none;}

.jumbotron{

background-color: #927408;
}
hr{

background-color:white;
}


@media screen and (max-width:991px){
.package{margin-left:10px;}

}
@media screen and (max-width:505px){
.our_features{font-size:25px;margin-left:10px;}

}
@media screen and (max-width:360){
.our_features{font-size:25px;margin-left:10px;}

}

@media screen and (max-width:767px){
.location{margin-left:300px;font-size:15px;}
.location h5{font-size:15px;}
.location i{margin-left:25px;}

}
@media screen and (max-width:411px){
.row{width:100%}
.location{margin-left:150px;font-size:15px; margin-top:20px}
#slides{display:none;}

}

@media screen and (max-width:812px){

#slides{display:none;}

}


@media screen and (min-width:768px){
.location{margin-left:190px;margin-top:200px;}
.location i{margin-left:35px;}
}

@media screen and (min-width:1274px){
#slides h1{margin-left:450px;margin-top:300px;color:white; }

}
@media screen and (max-width:1274px){
#slides h1{margin-left:200px;margin-top:300px;color:white;}

}
@media screen and (max-width:500px){
#slides h1{text-align:center;margin-top:300px;color:white;font-size:20px;}

}


